/* สถานะเมื่อจดหมายปิดอยู่ */
.scrapbook-stage.closed .cover-center-wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.scrapbook-stage.closed .letter-board {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}

/* สถานะเมื่อเปิดจดหมาย */
.scrapbook-stage.open .cover-center-wrapper {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.6);
}

.scrapbook-stage.open .letter-board {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}